{
    acme_ca https://acme-v02.api.letsencrypt.org/directory
}

whats-screening-to.ca {
    reverse_proxy frontend:3000
    log {
        output file /var/log/caddy/access.log
        format json
    }
}

api.whats-screening-to.ca {
    reverse_proxy backend:8000
    log {
        output file /var/log/caddy/access.log
        format json
    }
}

stats.whats-screening-to.ca {
    basic_auth {
        admin $2a$14$y4LKYxhGdeMgZUL5Cjp0OelnJiPn1MeJajTvH2Ht6m6VhtDIsQEPq
    }
    root * /srv/goaccess
    file_server
}

import /etc/caddy/line-reader.caddy
import /etc/caddy/jamesballanger.caddy
